
  <div class="ae-grid au-xs-ta-center au-mb-4">
    
    

    <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-3.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Segio  Eduardo Vargas Castillo      </h5>
      <p class="ae-u-bolder au-mb-3">Desarrollador Web</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">  
        Es una tienda en lo que encuentras todo lo que estas buscando, ofrecemos nuevos estilos novedosos,de colores llamativos y de hermosos acabados.</p><a href="#0" class="ae-u-bolder au-underline">edu6610@gmail.com</a>
    </div>

  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Ahorra tiempo. Ahorra dinero)</h4>
      <p>ofrecemos las mejores accecorios para tu celular y unas cuantas cosas mas .</p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">sobre nosotros </h6>
      <p class="au-lh-3">Ser una empresa lider en ofrecer, a Empresas y Compañias, obsequios y regalos para esas fechas especiales, ofreciendo el mejor servicio y cubriendo las necesidades y requerimientos del cliente, siendo reconocida en el ámbito Nacional e Internacional, por la calidad de sus servicios y Productos.. </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">nuestra mision</h6>
      <p class="au-lh-3"> Crear el mejor producto, no causar daños innecesarios, utilizar el negocio para inspirar e implementar soluciones para la vida cotiniada del cliente. <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">clientes</h6>
      <p class="au-lh-3"> diseñado para ofrecer un mejor servico. </p>
      <p class="au-lh-3">su valor nuestra sastifacion</p>
    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">regresar al inicio<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
